target/
reports/
lib_managed/
src_managed/
project/boot/
project/plugins/project
java_pid*.hprof
*.swp
tags
\.idea/workspace.xml
tutorial_src/build
.idea
.classpath
.project
bson-driver/.classpath
bson-driver/.project
mongo-driver/.classpath
mongo-driver/.project
*.html
*.swo
*.class
log4j.properties
